.cart-dropdown {
  position: absolute;
  width: 20rem;
  // height: 22rem;
  display: flex;
  flex-direction: column;
  padding: 1.2em 1.2em 0.5em 1.2em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  overflow: hidden;

  .cart-items {
    height: 22rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: 0px 0px 4px black;
    padding: 0.8em;
    border-radius: 0.5em;

    .empty-message {
      margin: 60% auto;
      font-size: larger;
    }
  }

  button {
    margin-top: 0.7em;
    align-self: center;
    height: 3em;
  }
}
