.cart-icon {
  width: 3em;
  height: 3em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .shopping-icon,
    .item-count {
      transform: scale(1.2);
    }
  }

  .shopping-icon {
    width: 2em;
    height: 2em;
  }

  .item-count {
    position: absolute;
    top: 1.5em;
    font-size: 1rem;
    font-weight: bold;
  }
}
