body {
  font-family: 'Open Sans Condensed';
  padding: 1em 2em;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.select {
  margin: 2em auto;
  display: block;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}

.select:hover {
  transform: scale(1.03);
  color: rgb(62, 100, 143);
}

.hideOverflow {
  overflow: hidden;
}
